.section {
    text-align: center;
}

.navbar {
    display: inline-block;
    margin-right: 70px;
}

.nav-link {
    color: #FF0000;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    font-weight: bold;
}

.main-img {
    width: 1280px;
    height: 789;
    left: 0px;
    margin-top: 26px;
}

.h2 {
    color: #373737;
    font-size: 22px;
    line-height: 26, 82;
    margin-top: 49px;
    margin-left: 253px;
    margin-right: 253px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
/* Если задаю размер блока,текст становиться по левою сторону! */
.p {
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-inline-start: 18em;
    margin-inline-end: 18em;
}
/* не мог понять тест просто в кнопке или это еще какая-то ссылка!! */
.btn {
    color: white;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    left: 544, 5px;
    margin-top: 66px;
    text-transform: uppercase;
    border-radius: 4px;
}

.footer {
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: right;
    margin-inline-end: 21em;
    margin-top: 82px;
    letter-spacing: 2.4px;
}